@media only screen and (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  
}

.vertical-nav {
    background-color: black;
    min-width: 17rem;
    max-width: 25rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    resize: horizontal;
    overflow: auto;
    
  }

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 22px;
} 

/*Iconos*/

.nav-icons a {
  color: #B3B3B3;
  transition: color .3s;
}

.nav-icons a:hover {
  color: white;
}

.nav-link-icons {
  margin-left: 10px;
  margin-right: 10px;
}

.iconContainer {
  margin-bottom: 5px;
}

.iconContainer p {
  position: relative;
  display: inline;
  margin-left: 10px;
  bottom: 5px;
  font-size: 15px;
}

/*Condicionales Iconos*/

.iconoActivo {
  background-color: #282828;
  border-radius: 4px;
}

.iconoActivo .iconContainer {
  color: white;
}


/*Playlists*/

.playlistsText {
  color: #B3B3B3;
}

.heartText {
  top: 0px;
}

.separator {
  width: 80%;
  height: 2px;
  background: #B3B3B3;
  border-radius: 12px;
  margin-top: 5px;
  margin-left: 27px;
  margin-right: 5px;
}