@media (max-width: 768px) {
    #mainContainer {
    margin-left: auto;
    }
    
  }

.mainContainer {
    background: linear-gradient(140deg, #202020, #121212);

    height: 100%;
    overflow-y: auto;
    margin-left: 17rem;

}

/*.container {
    width: 100%;
    background-color: khaki;
}*/

.row {
    width: 80%;
    
    margin-left: 60px;
    margin-top: 80px;
}

.col-xxl-1 {
    margin-bottom: 25px;
}

.card {
    background-color: #181818;
    width: 200px;
    height: 300px;

    padding: 15px;
    margin-right: 25px;

    transition: background-color .3s;
}

.card:hover {
    background-color: #393939;
}

.card-body .title {
    color: white;
    font-weight: bold;
}

.card-body .autor {
    color: white;
}