<div id="mainContainer" class="container-fluid mainContainer">


  <div class="row">
    <div class="col-xxl-1 colu padding-0" *ngFor="let playlist of playlists">
      <div class="card">
        <a [routerLink]="['/playlists', playlist.id_playlist]" class="stretched-link"></a>
        <img [src]="playlist.image_playlist" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="title">{{playlist.title_playlist}}</h5>
          <p class="autor">{{playlist.autor_playlist}}</p>
        </div>
      </div>
    </div>
    <!--
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0 colu">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <!--
    <div class="col-xxl-1 padding-0 colu">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0 colu">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>

    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>
    </div>
    <div class="col-xxl-1 padding-0">
      <div class="card">
        <img src="../../../assets/playlists/gold.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title">Card title</h5>
          <p class="card-text autor">This is </p>
        </div>
      </div>


    </div>-->


  </div>
</div>